 .game {
     background-color: #C0C0C0;
     border: 5px solid #ffffff;
 }

 .row {
     display: flex;

 }

 .item {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 24px;
     height: 24px;
 }

 .top-panel {
     display: flex;
     justify-content: space-between;
     padding: 20px;
 }

 .status {
     background-image: url("../public/sprite.png");
     background-position: -2px 58px;
     width: 26px;
     height: 26px;
 }

 .item {
     width: 16px;
     height: 16px;
     background-image: url("../public/sprite.png");
     background-position: 0 34px;
 }

 .item--tnt {
     background-position: -85px 32px;
 }

 .item--flag {
    background-position: -34px 32px;
 }

 .item--question {
    background-position: -69px 32px;
 }

 .status--scary {
    background-position: -56px 58px;
 }

 .status--sad {
    background-position: -110px 58px;
 }

 .status--win {
    background-position: 57px 58px;
 }